$primary-color: #f80e56;
$background-color-one: #01071c;
$background-color-two: #252934;
$background-color-footer: #141517;

$laptop-width: 1440px;
$small-laptop-width: 1200px;
$tablet-width: 1020px;
$mobile-width: 580px;
$small-mobile-width: 410px;

$font-paragraphs: "Robot", sans-serif;
$font-headings: "Raleway", sans-serif;
